@import "tailwindcss";

.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.4s ease;
}

.bg-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bg-button:hover {
  background-color: #444;
}

.button {
  margin: 2px;
  display: flex;
  justify-content: center;
}
